language: node_js
node_js:
  - "8.2.1"
  
notifications:
  email:
    recipients:
      - anthonyklinga@gmail.com
    on_success: always # default: change
    on_failure: always # default: always

install:
  - npm install newman
  - npm install lodash
  - npm install moment

before_script:
  - node --version
  - npm --version
  - newman --version

script:
  - node_modules/.bin/newman run tests/StormGlass.postman_collection.json -e tests/StormGlass.postman_environment.json